# Jekyll build artifacts
_site/
.sass-cache/
.jekyll-cache/

# Local bundler and vendor gems
.bundle/
vendor/

# VS Code project config
.vscode/

# macOS system files
.DS_Store

# Optional: log files or temp
*.log
*.tmp